.container {
    display: grid;
    grid-template-columns: repeat(4,auto);
    margin-top: 10px;
    gap: 10px 0px;
}

.child {
    display: flex;
    justify-content: center;   
}

.equal-button {
    grid-column: 1/5;
}